/* Write your code here. */
.main-container {
  height: 100vh;
  background-size: cover;
}
.nature-head{
    color:#000000;
    font-family:"Roboto";
    font-size:20px;
}
.para2{
    color:#64748b;
    font-size: 18px;
    font-family: "Roboto";
}